In [2]:
# %pip install -U googlemaps

Collecting googlemaps
  Downloading googlemaps-4.10.0.tar.gz (33 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: requests<3.0,>=2.20.0 in c:\users\jians\anaconda3\lib\site-packages (from googlemaps) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\jians\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jians\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\jians\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jians\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2023.7.22)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py): started
  Building wheel for googlemaps (setup.py): finished with status 'done'
  Created wheel for googlemaps: filename=googlemaps-4.10.0-py3-none-any.whl size=40750 sha256=4c4406058725035f4d957f46ed01c8d0b7d4b08eade67f6b88b14c5df3045643
  Stored in directory: c:\users\jians\appdata\local\pip\cache\wheels\f1\09\77\3cc2f5659cbc62341b30f806aca2b25e6a26c351daa5b1f49a
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.10.0
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
from matplotlib.dates import DateFormatter, MonthLocator
from itertools import product
import requests

# Geospatial
import folium
import geopandas as gpd
from bs4 import BeautifulSoup

In [60]:
# Import postal_code_mapping_resale_locations.csv and mall_coordinates.csv

# Import resale flat price data
postal_code_mapping_resale_locations = pd.read_csv('../resale_flat_locations/postal_code_mapping_resale_locations.csv', sep = '\t')

# Import raw planning area file
mall_coordinates = pd.read_csv('../amenities_locations/mall_coordinates.csv')

In [61]:
postal_code_mapping_resale_locations

,SEARCHVAL,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,X,Y,LATITUDE,LONGITUDE,LONGTITUDE,address
0,RIVERVALE GATEWAY,187B,RIVERVALE DRIVE,RIVERVALE GATEWAY,187B RIVERVALE DRIVE RIVERVALE GATEWAY SINGAPO...,542187,36071.518093,41800.018924,1.394298,103.905848,103.905848,187B RIVERVALE DR
1,307 WOODLANDS AVENUE 1 SINGAPORE 730307,307,WOODLANDS AVENUE 1,NIL,307 WOODLANDS AVENUE 1 SINGAPORE 730307,730307,21669.937738,45682.410745,1.429409,103.776437,103.776437,307 WOODLANDS AVE 1
2,606 SENJA ROAD SINGAPORE 670606,606,SENJA ROAD,NIL,606 SENJA ROAD SINGAPORE 670606,670606,20015.437384,40362.301865,1.381296,103.761571,103.761571,606 SENJA RD
3,TOA PAYOH EIGHT,233,LORONG 8 TOA PAYOH,TOA PAYOH EIGHT,233 LORONG 8 TOA PAYOH TOA PAYOH EIGHT SINGAPO...,310233,30798.858575,35606.138279,1.338284,103.858468,103.858468,233 LOR 8 TOA PAYOH
4,WATERWAY SUNDEW,662B,EDGEDALE PLAINS,WATERWAY SUNDEW,662B EDGEDALE PLAINS WATERWAY SUNDEW SINGAPORE...,822662,37500.793078,42620.934678,1.401722,103.918691,103.918691,662B EDGEDALE PLAINS
...,...,...,...,...,...,...,...,...,...,...,...,...
9488,135 BEDOK NORTH STREET 2 SINGAPORE 460135,135,BEDOK NORTH STREET 2,NIL,135 BEDOK NORTH STREET 2 SINGAPORE 460135,460135,39483.791496,34550.560719,1.328735,103.936507,103.936507,135 BEDOK NTH ST 2
9489,EDELWEISS@JURONG,678A,JURONG WEST STREET 64,EDELWEISS@JURONG,678A JURONG WEST STREET 64 EDELWEISS@JURONG SI...,641678,13652.846509,36358.018149,1.345080,103.704401,103.704401,678A JURONG WEST ST 64
9490,PCF SPARKLETOTS PRESCHOOL @ BUKIT PANJANG 412 ...,412,SAUJANA ROAD,PCF SPARKLETOTS PRESCHOOL @ BUKIT PANJANG 412 ...,412 SAUJANA ROAD PCF SPARKLETOTS PRESCHOOL @ B...,670412,20761.489487,40539.407102,1.382898,103.768275,103.768275,412 SAUJANA RD
9491,422 FAJAR ROAD SINGAPORE 670422,422,FAJAR ROAD,NIL,422 FAJAR ROAD SINGAPORE 670422,670422,20917.676370,40773.340448,1.385013,103.769679,103.769679,422 FAJAR RD
9492,COMMONWEALTH HEIGHTS,82,COMMONWEALTH CLOSE,COMMONWEALTH HEIGHTS,82 COMMONWEALTH CLOSE COMMONWEALTH HEIGHTS SIN...,140082,24336.484025,31839.618716,1.304221,103.800400,103.800400,82 C'WEALTH CL

In [62]:
mall_coordinates

                           name  latitude   longitude
0           HARBOURFRONT CENTRE  1.262063  103.818733
1               NORTHPOINT CITY  1.428226  103.836420
2              SUNTEC CITY MALL  1.293501  103.857307
3    CATHAY CINELEISURE ORCHARD  1.301464  103.836464
4                HEARTLAND MALL  1.359542  103.885167
..                          ...       ...         ...
152                   CITY VIBE  1.314242  103.765277
153       SHAW HOUSE AND CENTRE  1.306303  103.831847
154            MANDARIN GALLERY  1.302090  103.836341
155                CHANGE ALLEY  1.284420  103.851821
156         CLARKE QUAY CENTRAL  1.289027  103.846608

[157 rows x 3 columns]

# Call API

In [69]:
# Test API
postal_code_mapping_resale_locations = postal_code_mapping_resale_locations[0:3]
mall_coordinates = mall_coordinates[0:3]

In [70]:
# Create a Cartesian product of residential and mall locations
locations_product = list(product(
    zip(postal_code_mapping_resale_locations['LATITUDE'], postal_code_mapping_resale_locations['LONGITUDE'], postal_code_mapping_resale_locations['address']),
    zip(mall_coordinates['latitude'], mall_coordinates['longitude'], mall_coordinates['name'])
))

In [66]:
api_key = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxMzBkYjBjYmU3ZDYwZGFkMGJkZmI2MWE0YjE0MTYzOSIsImlzcyI6Imh0dHA6Ly9pbnRlcm5hbC1hbGItb20tcHJkZXppdC1pdC0xMjIzNjk4OTkyLmFwLXNvdXRoZWFzdC0xLmVsYi5hbWF6b25hd3MuY29tL2FwaS92Mi91c2VyL3Bhc3N3b3JkIiwiaWF0IjoxNjk4NDY2OTU1LCJleHAiOjE2OTg3MjYxNTUsIm5iZiI6MTY5ODQ2Njk1NSwianRpIjoianRmb2Y0YUdhUzZLZ3hCayIsInVzZXJfaWQiOjE0MzUsImZvcmV2ZXIiOmZhbHNlfQ.n5VR9NrIMxyBaSh5J-evDAsIX3RALQwti6hMFsNIqdE'

In [71]:
def get_travel_time(url, origin, destination, api_key):
    '''With the block number and street name, get the full address of the hdb flat,
    including the postal code, geographical coordinates (lat/long)'''

    # Example: 1.326762%2C103.8559

    headers = {"Authorization": api_key}    
    
    # Retrieve information from website
    response = requests.get(url, headers=headers)
    response_json = response.json()
    
    try:
        travel_time = response_json['plan']["itineraries"][0]['duration']
        return travel_time
    except (KeyError, IndexError):
        return None

In [72]:
# Calculate travel time for each combination
results = []
for index, (res_location, mall_location) in enumerate(locations_product):
    res_lat, res_lng, resale_flat_address = res_location
    mall_lat, mall_lng, mall_name = mall_location
    
    origin = f"{res_lat}%2C{res_lng}"
    destination = f"{mall_lat}%2C{mall_lng}"

    # Do not need to change the URL
    url = f"https://www.onemap.gov.sg/api/public/routingsvc/route?start={origin}&end={destination}&routeType=pt&date=10-28-2023&time=07%3A35%3A00&mode=TRANSIT&maxWalkDistance=1000&numItineraries=1"
    print(index, url)
    
    travel_time = get_travel_time(url, origin, destination, api_key)
    travel_time_mins = travel_time/60
    
    if travel_time_mins is not None:
        results.append({
            'resale_flat_coordinates': (res_lat, res_lng),
            'resale_flat_address': resale_flat_address,
            'mall_name': mall_name,
            'travel_time_mins': travel_time_mins
        })

# Create a DataFrame from the results
results_df = pd.DataFrame(results)
results_df

0 https://www.onemap.gov.sg/api/public/routingsvc/route?start=1.39429791122824%2C103.905847570841&end=1.26206336410344%2C103.818732564507&routeType=pt&date=10-28-2023&time=07%3A35%3A00&mode=TRANSIT&maxWalkDistance=1000&numItineraries=1
1 https://www.onemap.gov.sg/api/public/routingsvc/route?start=1.39429791122824%2C103.905847570841&end=1.42822560922688%2C103.836419992398&routeType=pt&date=10-28-2023&time=07%3A35%3A00&mode=TRANSIT&maxWalkDistance=1000&numItineraries=1
2 https://www.onemap.gov.sg/api/public/routingsvc/route?start=1.39429791122824%2C103.905847570841&end=1.29350132535558%2C103.857307495824&routeType=pt&date=10-28-2023&time=07%3A35%3A00&mode=TRANSIT&maxWalkDistance=1000&numItineraries=1
3 https://www.onemap.gov.sg/api/public/routingsvc/route?start=1.42940927831954%2C103.776437088944&end=1.26206336410344%2C103.818732564507&routeType=pt&date=10-28-2023&time=07%3A35%3A00&mode=TRANSIT&maxWalkDistance=1000&numItineraries=1
4 https://www.onemap.gov.sg/api/public/routingsvc/route?start=1.42940927831954%2C103.776437088944&end=1.42822560922688%2C103.836419992398&routeType=pt&date=10-28-2023&time=07%3A35%3A00&mode=TRANSIT&maxWalkDistance=1000&numItineraries=1
5 https://www.onemap.gov.sg/api/public/routingsvc/route?start=1.42940927831954%2C103.776437088944&end=1.29350132535558%2C103.857307495824&routeType=pt&date=10-28-2023&time=07%3A35%3A00&mode=TRANSIT&maxWalkDistance=1000&numItineraries=1
6 https://www.onemap.gov.sg/api/public/routingsvc/route?start=1.38129574701623%2C103.761571341904&end=1.26206336410344%2C103.818732564507&routeType=pt&date=10-28-2023&time=07%3A35%3A00&mode=TRANSIT&maxWalkDistance=1000&numItineraries=1
7 https://www.onemap.gov.sg/api/public/routingsvc/route?start=1.38129574701623%2C103.761571341904&end=1.42822560922688%2C103.836419992398&routeType=pt&date=10-28-2023&time=07%3A35%3A00&mode=TRANSIT&maxWalkDistance=1000&numItineraries=1
8 https://www.onemap.gov.sg/api/public/routingsvc/route?start=1.38129574701623%2C103.761571341904&end=1.29350132535558%2C103.857307495824&routeType=pt&date=10-28-2023&time=07%3A35%3A00&mode=TRANSIT&maxWalkDistance=1000&numItineraries=1

,resale_flat_coordinates,resale_flat_address,mall_name,travel_time_mins
0,"(1.39429791122824, 103.905847570841)",187B RIVERVALE DR,HARBOURFRONT CENTRE,54.266667
1,"(1.39429791122824, 103.905847570841)",187B RIVERVALE DR,NORTHPOINT CITY,42.433333
2,"(1.39429791122824, 103.905847570841)",187B RIVERVALE DR,SUNTEC CITY MALL,40.083333
3,"(1.42940927831954, 103.776437088944)",307 WOODLANDS AVE 1,HARBOURFRONT CENTRE,63.133333
4,"(1.42940927831954, 103.776437088944)",307 WOODLANDS AVE 1,NORTHPOINT CITY,25.266667
5,"(1.42940927831954, 103.776437088944)",307 WOODLANDS AVE 1,SUNTEC CITY MALL,60.100000
6,"(1.38129574701623, 103.761571341904)",606 SENJA RD,HARBOURFRONT CENTRE,51.150000
7,"(1.38129574701623, 103.761571341904)",606 SENJA RD,NORTHPOINT CITY,41.650000
8,"(1.38129574701623, 103.761571341904)",606 SENJA RD,SUNTEC CITY MALL,39.533333

In [73]:
# Find the shortest travel time for each residential address
shortest_travel_time = results_df.groupby('resale_flat_address')['travel_time_mins'].min().reset_index()
shortest_travel_time

# Merge with the original residential_df to get the corresponding mall names
closest_mall = pd.merge(shortest_travel_time, results_df, on=['resale_flat_address', 'travel_time_mins'], how='left')
closest_mall

,resale_flat_address,travel_time_mins,resale_flat_coordinates,mall_name
0,187B RIVERVALE DR,40.083333,"(1.39429791122824, 103.905847570841)",SUNTEC CITY MALL
1,307 WOODLANDS AVE 1,25.266667,"(1.42940927831954, 103.776437088944)",NORTHPOINT CITY
2,606 SENJA RD,39.533333,"(1.38129574701623, 103.761571341904)",SUNTEC CITY MALL

In [35]:
# Trial
url = "https://www.onemap.gov.sg/api/public/routingsvc/route?start=1.320981%2C103.844150&end=1.326762%2C103.8559&routeType=pt&date=08-13-2023&time=07%3A35%3A00&mode=TRANSIT&maxWalkDistance=1000&numItineraries=3"

api_key = <insert>
    
headers = {"Authorization": api_key}
      
response = requests.request("GET", url, headers=headers)

response_json = response.json()

# print(type(response_json['plan']["itineraries"]))
print(response_json['plan']["itineraries"][0]['duration'])  # Assuming there's at least one itinerary in the list

# Find itinerary with the shortest duration
shortest_itinerary = min(response_json['plan']["itineraries"], key=lambda x: x["duration"])

# Extract specific details
result = {
    "duration": shortest_itinerary["duration"],
    "walkTime": shortest_itinerary["walkTime"],
    "walkDistance": shortest_itinerary["walkDistance"],
    "transitTime": shortest_itinerary["transitTime"],
    "waitingTime": shortest_itinerary["waitingTime"]
}

print(result)

# Google Maps API (if ever needed)

In [76]:
# # Google Maps API

# import googlemaps
# # Set Google Maps API key
# api_key = '<insert>'
# # Create a Google Maps client
# gmaps = googlemaps.Client(key = api_key)

# # Function to calculate travel time between two locations using Google Maps API
# def get_travel_time(origin, destination):
#     result = gmaps.distance_matrix(
#         origins=origin,
#         destinations=destination,
#         mode='transit',  # Use public transport
#         transit_routing_preference='fewer_transfers',
#         units='metric'
#     )
    
#     try:
#         travel_time = result['rows'][0]['elements'][0]['duration']['text']
#         return travel_time
#     except (KeyError, IndexError):
#         return None

# # Calculate travel time for each combination
# results = []
# for res_location, mall_location in locations_product:
#     res_lat, res_lng, resale_flat_address = res_location
#     mall_lat, mall_lng, mall_name = mall_location
    
#     origin = f"{res_lat}, {res_lng}"
#     destination = f"{mall_lat}, {mall_lng}"
    
#     travel_time = get_travel_time(origin, destination)
    
#     if travel_time is not None:
#         results.append({
#             'resale_flat_coordinates': (res_lat, res_lng),
#             'resale_flat_address': resale_flat_address,
#             'mall_name': mall_name,
#             'travel_time': travel_time
#         })

# # Create a DataFrame from the results
# results_df = pd.DataFrame(results)
# results_df

,resale_flat_coordinates,resale_flat_address,mall_name,travel_time
0,"(1.39429791122824, 103.905847570841)",187B RIVERVALE DR,HARBOURFRONT CENTRE,1 hour 13 mins
1,"(1.39429791122824, 103.905847570841)",187B RIVERVALE DR,NORTHPOINT CITY,35 mins
2,"(1.39429791122824, 103.905847570841)",187B RIVERVALE DR,SUNTEC CITY MALL,1 hour 15 mins
3,"(1.42940927831954, 103.776437088944)",307 WOODLANDS AVE 1,HARBOURFRONT CENTRE,1 hour 24 mins
4,"(1.42940927831954, 103.776437088944)",307 WOODLANDS AVE 1,NORTHPOINT CITY,35 mins
5,"(1.42940927831954, 103.776437088944)",307 WOODLANDS AVE 1,SUNTEC CITY MALL,1 hour 8 mins
6,"(1.38129574701623, 103.761571341904)",606 SENJA RD,HARBOURFRONT CENTRE,2 hours 13 mins
7,"(1.38129574701623, 103.761571341904)",606 SENJA RD,NORTHPOINT CITY,51 mins
8,"(1.38129574701623, 103.761571341904)",606 SENJA RD,SUNTEC CITY MALL,1 hour 53 mins

In [87]:
# Function to convert duration string to minutes
def convert_duration_to_minutes(duration_str):
    parts = duration_str.split()
    minutes = sum(int(parts[i]) * (60 if parts[i + 1] in ['hour', 'hours'] else 1) for i in range(0, len(parts), 2))
    return minutes

final_results_df = results_df.copy()
# Apply the function to create a new column 'duration_in_min'
final_results_df['duration_in_min'] = final_results_df['travel_time'].apply(convert_duration_to_minutes)
final_results_df

,resale_flat_coordinates,resale_flat_address,mall_name,travel_time,duration_in_min
0,"(1.39429791122824, 103.905847570841)",187B RIVERVALE DR,HARBOURFRONT CENTRE,1 hour 13 mins,73
1,"(1.39429791122824, 103.905847570841)",187B RIVERVALE DR,NORTHPOINT CITY,35 mins,35
2,"(1.39429791122824, 103.905847570841)",187B RIVERVALE DR,SUNTEC CITY MALL,1 hour 15 mins,75
3,"(1.42940927831954, 103.776437088944)",307 WOODLANDS AVE 1,HARBOURFRONT CENTRE,1 hour 24 mins,84
4,"(1.42940927831954, 103.776437088944)",307 WOODLANDS AVE 1,NORTHPOINT CITY,35 mins,35
5,"(1.42940927831954, 103.776437088944)",307 WOODLANDS AVE 1,SUNTEC CITY MALL,1 hour 8 mins,68
6,"(1.38129574701623, 103.761571341904)",606 SENJA RD,HARBOURFRONT CENTRE,2 hours 13 mins,133
7,"(1.38129574701623, 103.761571341904)",606 SENJA RD,NORTHPOINT CITY,51 mins,51
8,"(1.38129574701623, 103.761571341904)",606 SENJA RD,SUNTEC CITY MALL,1 hour 53 mins,113

In [91]:
# Find the shortest travel time for each residential address
shortest_travel_time = final_results_df.groupby('resale_flat_address')['duration_in_min'].min().reset_index()
shortest_travel_time

# Merge with the original residential_df to get the corresponding mall names
closest_mall = pd.merge(shortest_travel_time, final_results_df, on=['resale_flat_address', 'duration_in_min'], how='left')
closest_mall

,resale_flat_address,duration_in_min,resale_flat_coordinates,mall_name,travel_time
0,187B RIVERVALE DR,35,"(1.39429791122824, 103.905847570841)",NORTHPOINT CITY,35 mins
1,307 WOODLANDS AVE 1,35,"(1.42940927831954, 103.776437088944)",NORTHPOINT CITY,35 mins
2,606 SENJA RD,51,"(1.38129574701623, 103.761571341904)",NORTHPOINT CITY,51 mins